body {
  background-color: rgb(92, 34, 142);
  font-family: "Nova Square";
}

.parent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 400px;
  background-color: rgb(67, 10, 85);
  padding: 40px;
  display: flex;
  justify-content: center;
}

.title {
  font-size: 42px;
}

.inp {
  display: flex;
}

#input {
  width: 270px;
  padding: 6px;
  border: 2px solid rgb(116, 23, 116);
  font-size: 19px;
}

button {
  width: 60px;
  height: 44px;
  margin-left: 4px;
  background-color: rgb(30, 6, 30);
  color: white;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
}
.text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text ul {
  width: 250px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(67, 10, 85);
  color: white;
  padding: 7px;
  font-size: 19px;
  text-align: left;
  margin: 0;
}
.text ul i {
  cursor: pointer;
}
